<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/stylesheets/dashboard_manager.css"> -->
  <link rel="stylesheet" href="/stylesheets/basic_template.css">

  <title>Dashboard</title>
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            DASHBOARD
          </a>
        </li>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/employees">Employees</a>
        </li>
        <li>
          <a href="/pending-projects">Pending projects</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>

      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">



        <!-- BODY CONTENT -->
        <div class="row">


          <!-- Button trigger modal -->


          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Select the employees working on this project</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <%obj.employees.forEach(function(employee){ %>
                <div class="form-check form-check-inline "
                  style="margin: 1em; border: 2px solid black; padding: 0.5em; font-size: 20px;">
                  <input class="form-check-input team-checkbox" type="checkbox" id="inlineCheckbox1"
                    value="<%=employee.id%>">
                  <label class="form-check-label" for="inlineCheckbox1"> <%=employee.name%></label>
                </div>
                <% }) %>








                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary btn-change">Save changes</button>
                </div>
              </div>
            </div>
          </div>




          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenterReject" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Why are you rejecting the project?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form action="">

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </form>








                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary btn-change">Reject</button>
                </div>
              </div>
            </div>
          </div>



          <%obj.projects.forEach(function(project){ %>
          <a href="" class="card col-md-3 project-card"
            style="text-decoration: none;color: black !important; max-width: 300px; margin-right: 5%; margin-top:2.5%; padding:0 !important; ">
            <img src="<%=project.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title"><%=project.title%></h2>
              <span>
                <h5 class="card-text">$ <%=project.price%></h5>
              </span>
              <span>
                <h5 class="card-text">Due date: <%=project.duedate%></h5>
              </span>




              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Description</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <%= project.description%>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-info description-button" type="button" data-toggle="modal"
                data-target="#exampleModalLong">View Description</button>

            </div>
            <div class="card-footer">
              <div class="row ">
                <div class="col-md-6">
                  <button type="button" class="btn btn-success accept-button" projectid='<%=project.projectid%>'
                    data-toggle="modal" data-target="#exampleModalCenter">
                    Accept
                  </button>
                </div>

                <div class="col-md-6">
                  <form method="POST" action="/rejectProject">
                    <input style="display: none;" type="text" value='<%=project.projectid%>' name="rProject">
                    <button class="btn btn-danger reject-button" projectid='<%=project.projectid%>' data-toggle="modal"
                      data-target="#exampleModalCenterReject">Reject</button>
                  </form>
                </div>





              </div>
            </div>
          </a>
          <% }) %>







        </div>

        <!-- END BODY CONTENT -->

      </div>



    </div>

    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <!-- <script src="../scripts/dashboard_manager_script.js"></script> -->
  <script src="../scripts/manager_pending_projects_script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>