<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="stylesheets/dashboard_employee.css"> -->
    <link rel="stylesheet" href="stylesheets/basic_template.css">
    <title>Dashboard</title>
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        DASHBOARD
                    </a>
                </li>
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">Tasks</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="jumbotron jumbotron-fluid" style="width: 100em;">
                        <div class="container">
                            <h1 class="display-4">Tasks</h1>
                            <p class="lead">This are all the task you have been assigned to.</p>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 3%;">
                    <div class="container-fluid">
                        <div class="row ">


                            <%obj.forEach(function(task){ %>
                            <div class="card col-md-2" style="width: 18rem; margin: 20px;">
                                <div class="card-body">
                                    <h5 class="card-title"><%=task.tasktitle%></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Project: <%=task.projecttitle%></h6>
                                    <p class="card-text"> <%= task.taskdescription%></p>
                                    <a href="/task-page/<%=task.taskid%>" class="card-link">View task</a>
                                    <a href="/project-page/<%=task.projectid%>" class="card-link">View project</a>
                                </div>
                            </div>
                            <%}) %>












                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

</html>