<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/task_page.css">
  <link rel="stylesheet" href="/stylesheets/basic_template.css">

  <title>Dashboard</title>
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            DASHBOARD
          </a>
        </li>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <% if(obj.userType=='M'){%>
        <li>
          <a href="/employees">Employess</a>
        </li>

        <li>
          <a href="/pending-projects">Pending projects</a>
        </li>
        <%} else if(obj.userType=='E'){%>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Tasks</a>
        </li>
        <%}%>    
                <li>
                    <a href="/logout">Logout</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="card task-card  mb-3 col-md-10" >
                                <div class="card-header ">Title: <%= obj.title %>
    </div>
    <div class="card-body ">
      <h5 class="card-title">Description:</h5>
      <p class="card-text"> <%= obj.description%></p>
    </div>
    <div class="card-footer bg-transparent ">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Add Activity
      </button>
      <a href="/project-page/<%=obj.projectid%>" class="btn btn-primary">View project page</a>



      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Activity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Subject</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Pending</option>
                    <option>Completed</option>
                    <option>Warning</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>

                <div class="form-group">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <label for="inputMDEx1">Date</label>
                        <input type="date" id="inputMDEx1" class="form-control">
                      </div>
                      <div class="col-md-4">
                        <label for="inputMDEx1">Start</label>
                        <input type="time" id="inputMDEx1" class="form-control">
                      </div>

                      <div class="col-md-4">
                        <label for="inputMDEx1">End</label>
                        <input type="time" id="inputMDEx1" class="form-control">
                      </div>
                    </div>


                  </div>

                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  </div>



  </div>
  </div>



  <div class="row" style="margin-top: 20em;">
    <div class="container-fluid">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">Id</th>
            <th scope="col" style="text-align: center;">Author</th>
            <th scope="col" style="text-align: center;">Subject</th>
            <th scope="col" style="text-align: center;">Status</th>
            <th scope="col" style="text-align: center;">Date</th>
            <th scope="col" style="text-align: center;">Time-lapsed</th>
            <th scope="col" style="text-align: center;">Description</th>
          </tr>
        </thead>
        <tbody>

          <% obj.activityhistory.forEach(function(activity){ %>
          <tr>
            <th scope="row"><%= activity.id%></th>
            <td><%= activity.author%></td>
            <td><%= activity.subject%></td>
            <td>
              <%if(task.status=='error'){%>
              <span class="badge badge-danger">Error</span>
              <%} else if(task.status=='pending') {%>
              <span class="badge badge-warning">In process</span>

              <%} else if(task.status=='done') {%>
              <span class="badge badge-success">Done</span>

              <%}%>
                                                
                                                      
                                            </td>
                                            <td>
                                                <%= activity.date%>
            </td>
            <td>
              <%= activity.timelapsed%>
            </td>
            <td scope="row">

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
                View description
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Subject</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <%= activity.description%>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                  </div>
                </div>
              </div>


            </td>
          </tr>
          <% })%>


        </tbody>
      </table>
    </div>
  </div>
  </div>


  </div>

  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>